<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Babbage</title>
</head>
<body>
    <a class="ancla" href="/"><h1 class="titulo">Heroes de la innovación</h1> </a>
    <h2>Babbage</h2>
<br>
<section>
<img src="img/babbage.jpg" alt="">
<p>Charles Babbage fue un matemático y científico de la computación británico.Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.2</p>
</section>

<ul type="none" class="lista">
    <li>
        <a href="/ ">Home</a>
     </li>
     <br>
    <li>
       <a href=" /Babbage ">Babbage</a>
    </li>
    <br>
    <li>
        <a href="/Berners-lee ">Berner-lee</a>
    </li>
    <br>
    <li>
        <a href="/Clarke ">Clarke</a>
   </li>
   <br>
    <li>
        <a href="/Hamilton ">Hamilton</a>
    </li>
    <br>
    <li>
        <a href="/Hopper ">Hopper</a>
    </li>
    <br>
    <li>
        <a href="/Lovelace ">Lovelace</a>
    </li>
    <br>
    <li>
        <a href="/Turing ">Turing</a>
    </li>

</ul>

</body>
</html>