<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Clarke</title>
</head>
<body>
    <a class="ancla" href="/"><h1 class="titulo">Heroes de la innovación</h1> </a>
    <h1>Clarke</h1>

    <br>
<section>
    <img src="img/clarke.jpg" alt="">
    <p>
Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 Oxford, 4 de septiembre de 1996) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.

Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.
    </p>
</section>

<ul type="none">
    <li>
        <a href="/ ">Home</a>
     </li>
     <br>
    <li>
       <a href=" /Babbage ">Babbage</a>
    </li>
    <br>
    <li>
        <a href="/Berners-lee ">Berner-lee</a>
    </li>
    <br>
    <li>
        <a href="/Clarke ">Clarke</a>
   </li>
   <br>
    <li>
        <a href="/Hamilton ">Hamilton</a>
    </li>
    <br>
    <li>
        <a href="/Hopper ">Hopper</a>
    </li>
    <br>
    <li>
        <a href="/Lovelace ">Lovelace</a>
    </li>
    <br>
    <li>
        <a href="/Turing ">Turing</a>
    </li>

</ul>

</body>
</html>