<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Hamilton</title>
</head>
<body>
    <a class="ancla" href="/"><h1 class="titulo">Heroes de la innovación</h1> </a>
    <h2>Hamilton</h2>
    <br>
    <section>
        <img src="img/hamilton.jpg" alt="">
        <p>Margaret Hamilton (Paoli, Indiana, 17 de agosto de 1936) es una científica computacional, matemática e ingeniera de Software estadounidense.

            Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.2​3​4​ Fue fundadora, en 1976, de la empresa Higher Order Software. En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.5​ Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas.6​7​
            
            El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las misiones Apolo.8​9​
            
            Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y tolerancia a fallos eran una prioridad para la seguridad y supervivencia de los astronautas durante los viajes a la Luna, es por esto que para muchos Margaret Hamilton es considerada una de las primeras personas en convertirse en Ingeniera de Confiabilidad del Sitio (del inglés Site Reliability Engineer).10​
            
            Hamilton ha publicado más de 130 artículos, actas e informes, y ha llevado a cabo sesenta proyectos y seis grandes programas.</p>
    </section>
    <ul type="none" class="lista">
        <li>
            <a href="/ ">Home</a>
         </li>
         <br>
        <li>
           <a href=" /Babbage ">Babbage</a>
        </li>
        <br>
        <li>
            <a href="/Berners-lee ">Berner-lee</a>
        </li>
        <br>
        <li>
            <a href="/Clarke ">Clarke</a>
       </li>
       <br>
        <li>
            <a href="/Hamilton ">Hamilton</a>
        </li>
        <br>
        <li>
            <a href="/Hopper ">Hopper</a>
        </li>
        <br>
        <li>
            <a href="/Lovelace ">Lovelace</a>
        </li>
        <br>
        <li>
            <a href="/Turing ">Turing</a>
        </li>
    
    </ul>

</body>
</html>