<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <h1>hamilton</h1>
    <br>
<ul>
    <li>
        <a href="/ ">Home</a>
     </li>
     <br>
    <li>
       <a href=" /babbage ">babbage</a>
    </li>
    <br>
    <li>
        <a href="/berners-lee ">berner-lee</a>
    </li>
    <br>
    <li>
        <a href="/clarke ">clarke</a>
   </li>
   <br>
    <li>
        <a href="/hamilton ">hamilton</a>
    </li>
    <br>
    <li>
        <a href="/hopper ">hopper</a>
    </li>
    <br>
    <li>
        <a href="/lovelace ">lovelace</a>
    </li>
    <br>
    <li>
        <a href="/turing ">turing</a>
    </li>

</ul>
</body>
</html>