<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>home</title>
</head>
<body class="cuerpo">
    
    <a class="ancla" href="/"><h1 class="titulo">Heroes de la innovación</h1> </a>
    <section>
        <a href=" /babbage"><img class="foto" src="img/babbage.jpg" alt=""></a>
        <a href="/berners-lee"><img class="foto" src="img/berners-lee.jpg" alt=""></a>
        <a href="/clarke"><img  class="foto" src="img/clarke.jpg" alt=""></a>
        <a href="/hamilton"><img class="foto" src="img/hamilton.jpg" alt=""></a>
        <a href="/hopper"><img class="foto" src="img/hopper.jpg" alt=""></a>
        <a href="/lovelace "><img class="foto" src="img/lovelace.jpg" alt=""></a>
        <a href="/turing"><img class="foto" src="img/turing.webp" alt=""></a>
      
    </section>

    <ul type="none" class="lista">
        <li>
            <a href="/ ">Home</a>
         </li>
         <br>
        <li>
           <a href=" /Babbage ">Babbage</a>
        </li>
        <br>
        <li>
            <a href="/Berners-lee ">Berner-lee</a>
        </li>
        <br>
        <li>
            <a href="/Clarke ">Clarke</a>
       </li>
       <br>
        <li>
            <a href="/Hamilton ">Hamilton</a>
        </li>
        <br>
        <li>
            <a href="/Hopper ">Hopper</a>
        </li>
        <br>
        <li>
            <a href="/Lovelace ">Lovelace</a>
        </li>
        <br>
        <li>
            <a href="/Turing ">Turing</a>
        </li>
    
    </ul>
</body>
</html>